<div class="row">
  <div class="row text-center bg-secondary text-light">
    <h2 class="">JSON to Typescript Converter</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header bg-success d-flex justify-content-between">
          <h5 class="m-auto text-light">Enter your JSON</h5>
          <button class="btn btn-warning" (click)="reset()">
            🔄
          </button>

        </div>
        <div class="card-body">
          <textarea class="form-control" name="json" [(ngModel)]="jsonText" id="hson"></textarea>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-primary" (click)="createTS('TS')">Typescript</button>
          <button class="btn btn-secondary" (click)="createTS('FORM')">Form Control</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header bg-success text-center">
          <h5 class="my-2 text-light">{{resultHeader}}</h5>
        </div>
        <div class="card-body">
          <textarea class="form-control" name="json" id="json" [value]="tsText"
            [readonly]="resultHeader==='Typescript'||'Output'"></textarea>
        </div>
        <div class="card-footer d-flex justify-content-between" *ngIf="resultHeader==='Form Control'">
          <button class="btn btn-primary" (click)="formBuilder()">Form Builder</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal HTML -->
<ng-container *ngIf="hasError">
  <div class="modal show d-block" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-modal="true"
    role="dialog">
    <div class="modal-dialog">
      <div class="modal-content p-3 bg-warning">

        <!-- Header -->
        <div class="modal-header bg-danger text-light">
          <h5 class="modal-title" id="myModalLabel">{{errorMessage}}</h5>

          <!-- ✖ Close Button -->
          <button type="button" (click)="closeModal()" class="btn-close btn-close-white" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

      </div>
    </div>
  </div>
</ng-container>